<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.res.sys.dao.ShopDao">
	<select id="findShopInfoByMemberId" resultType="com.cy.res.sys.entity.ShopInfo">
		select *
		from member 
		<where>
			member_id = #{memberId}
		</where>
	</select>
	
	<update id="updateShopInfo">
		update member set
		shop_name = #{shopName},
		shop_address = #{shopAddress},
		shop_message = #{shopMessage},
		member_name = #{memberName},
		member_phone = #{memberPhone},
		modifiedTime = now(),
		shop_img_url = #{shopImgUrl}
		<where>
		member_id = #{memberId}
		</where>
	</update>
</mapper>




