<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.res.sys.dao.SysOrderDao">
	<select id="selectObject"
		resultType="com.cy.res.sys.entity.SysOrder">
		select productId from rorder where userId=#{Id}
	</select>
	<insert id="paySuccessInsert">
		insert into rorder values(null,order_num=#{orderNum},order_price=#{orderPrice},
			order_is_comment=#{orderIsComment},order_date=now(),product_id=#{productId},
			product_name=#{productName},product_price=#{productPrice},product_count=#{productCount},
			member_id=#{memberId},user_id=#{userId},null,null,null,null)
	</insert>
</mapper>