<div>
	<div style="margin: 50px 0px 0px 200px">
		<form name="addProductForm">
			<div class="form-group">
				<label for="productname">商品名称：</label> <input type="input"
					class="form-control" id="productnameid"
					ng-model="product.productName" />
			</div>
			<div class="form-group">
				<label for="producttittle">商品副标题</label> <input type="text"
					class="form-control" id="producttittle"
					ng-model="product.productSubtitle">
			</div>
			<div class="form-group">
				<label for="producttittle">商品类别：</label> <select
					name="productCategory" id="categoryProductId">
					<option th:each="c:${categoryList}" th:value="${c.categoryId}">[[${c.categoryName}]]</option>
				</select>
			</div>
			<div class="form-group" style="display: inline-block; width: 120px;">
				<label for="producoldprice">商品原价</label> <input type="number"
					class="form-control" id="producoldprice"
					ng-model="product.productOriginalPrize">
			</div>
			<div class="form-group" style="display: inline-block; width: 120px;">
				<label for="productnewprice">商品现价</label> <input type="number"
					class="form-control" id="productnewprice"
					ng-model="product.productCurrentPrize">
			</div>
			<div class="form-group">
				<label for="exampleInputFile">上传商品图片</label> <input type="file"
					id="exampleInputFile" ng-model="file" name="file">
				<p class="help-block">支持JPG，JPEG，GIF，PNG, 且小于5M</p>
			</div>
			<a class="btn btn-default" id="commitProduct">确认修改</a>
		</form>
	</div>
</div>
<script src="/jquery/jquery.min.js"></script>
<script type="text/javascript">
	$(function(){
		doshowProductInfo();
		$("#commitProduct").click(saveUpdateProduct);
	});
	
	function doshowProductInfo() {
		var res = $("#mainContentId").data("res");
		console.log(res);
		$("#productnameid").val(res.data.productName);
		$("#producttittle").val(res.data.productSubtitle);
		$("#producoldprice").val(res.data.productOriginalPrize);
		$("#productnewprice").val(res.data.productCurrentPrize);
		$("#exampleInputFile").val(res.data.productImgUrl);
	}
	
	
	function saveUpdateProduct(){
		var res = $("#mainContentId").data("res");
		var productId = res.data.productId;
		var params = {
		"productId": productId,
		"productName" : $("#productnameid").val(),
		"productSubtitle" : $("#producttittle").val(),
		"categoryId": $("#categoryProductId").val(),
		"productOriginalPrize": $("#producoldprice").val(),
		"productCurrentPrize": $("#productnewprice").val(),
		"productImgUrl":$("#exampleInputFile").val()
		}
		var url = "product/updateProduct";
		$.post(url,params,function callback(result){
			if(result.state==1){
				alert(result.message);
			}else{
				alert(result.message);
			}
		})
		
		
	}
</script>
