<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<!-- <link rel="icon" href="../../favicon.ico"> -->
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/res.css" rel="stylesheet">
<link  rel="icon" href="/shopImg/favicon1.ico">
<!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->
<script src="/jquery/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<title>好兄弟首页</title>
<style type="text/css">
.myglyphicon {
	color: white;
	margin: 10px 20px;
	font-size: 20px;
	text-shadow: rgb(0, 255, 0) 3px 3px 3px;
	font-size: 20px;
}
</style>
</head>
<body> 
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<nav class="navbar navbar-default navbar-inverse navbar-static-top"
					role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span><span
								class="icon-bar"></span><span class="icon-bar"></span><span
								class="icon-bar"></span>
						</button>
						<span class="glyphicon glyphicon-heart myglyphicon">好兄弟</span>
					</div>

					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">首页</a></li>
							<li><a href="#">全部商品</a></li>
							<li><a href="#">所有卖家</a></li>
						</ul>
<!-- 						<form class="navbar-form navbar-left" role="search">
							<div class="form-group">
								<input type="text" class="form-control" />
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</form> -->
						<div th:if="${user}">
						<span th:text="'欢迎'+${user.userLoginName}" style="color:white;margin-left:500px;" ></span>
						<button  type="button" class="btn btn-default btn-sm"
							style="text-shadow: black 5px 3px 3px; margin: 10px 10px;" th:onclick="logout();">
							注销</button>
						</div>
						<div th:if="!${user}">
						<span style="color:white;margin-left:500px;"></span>
						<button  type="button" class="btn btn-default btn-sm"
							style="text-shadow: black 5px 3px 3px; margin: 10px 10px;" th:onclick="login();">
							登录</button>
						<button type="button" class="btn btn-default btn-sm"
							style="text-shadow: black 5px 3px 3px; margin: 10px 10px;" th:onclick="regist();">
							注册</button>
						</div>
					</div>
				</nav>
				<div class="content-wrapper">
				<div class="row clearfix">
					<!-- Main content -->
					<section id="selectOptionId">
					
					</section>
					<section id="mainContentId">
					
					</section>
				</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(function() {
		$("#logout").click(function(){
			window.location.assign("/dologin");
		});
		//doFindAllProduct(0,0,"default");
		$("#bs-example-navbar-collapse-1 ul li").click(function(){
		    //获取当前选中的地区的值
		    var areaValue =  $(this).find("a").eq(0).text();
		    setClassValue("#bs-example-navbar-collapse-1 ul li",$(this));
		    if(areaValue=="全部商品"){
		    	doSelectOptions();
		    	doFindAllProduct(0,0,"default");
		    	return;
		    }
		    if(areaValue=="所有卖家"){
		    	$("#selectOptionId").load("doFindAllProduct");
		    	$("#mainContentId").empty();
		    	return;
		    }
		 });
	});
	//获得当前选中的li的中<a>的值
	function getOptionValue(select){
		var returnValue="";
	    var selectLi = $(select);
	    for(var i=0;i<selectLi.length;i++){
	    	var classValue = $(selectLi[i]).attr("class");
	    	if(classValue=="active"){
	    		returnValue = $(selectLi[i]).find("input").val();
	    	}
	    }
	    return returnValue;
	}
	//将点击的li设置其class为active
	function setClassValue(select,selectLi){
	    var areaLi = $(select);
	    for(var i=0;i<areaLi.length;i++){
	    	$(areaLi[i]).removeClass("active");
	    }
	    selectLi.addClass("active");
	}
	function doFindAllProduct(areaValue,categoryValue,orderValue){
		var params={
				"areaValue":areaValue,
				"categoryValue":categoryValue,
				"orderValue":orderValue
		};
		var url="/product/doFindAllProduct";
		$("#mainContentId").load(url,params);
	}
	function doSelectOptions(){
		$("#selectOptionId").load("doSelectUI");
	}
	function login(){
		//alert("easda");
		window.location.assign("login");
	}
	function logout(){
		//alert("easda");
		window.location.assign("doLogout");
	}
	function regist(){
		window.location.assign("regist");
	}
</script>
</html>