<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>修改商店信息页面</h1>
	<form action="xxxxx">
		<table>
			<tr>
				<td>商店名</td>
				<td><input type="text" name="shopName" id="shopName"></td>
			</tr>
			<tr>
				<td>地址</td>
				<td><input type="text" name="shopAddr" id ="shopAddress"></td>
			</tr>
			<tr>
				<td>公告</td>
				<td><input type="text" name="notice" id="shopMessage"></td>
			</tr>
			<tr>
				<td>负责人</td>
				<td><input type="text" name="leader" id="memberName"></td>
			</tr>
			<tr>
				<td>负责人电话</td>
				<td><input type="text" name="leaderPhone" id="memberPhone"></td>
			</tr>
		</table>
	</form>
	<img src="" id="shopImg"/>
	
	<script src="jquery/jquery.min.js"></script>
	<script type="text/javascript">
	
	var url = "findShopInfo";
	var params={"memberId":2};
	$.getJSON(url,params,callback);
	
	function callback(result){
		console.log(result);
		$("#shopName").val(result.data[0].shopName);
		$("#shopAddress").val(result.data[0].shopAddress);
		$("#shopMessage").val(result.data[0].shopMessage);
		$("#memberName").val(result.data[0].memberName);
		$("#memberPhone").val(result.data[0].memberPhone);
		$("#shopImg").prop("src",result.data[0].shopImgUrl);
	};
	
	</script>
	
</body>
</html>