<!-- <div class="aa" style="margin-left: 100px">
	<div class="row cannot_select" style="">
		第三行
		<table class="order" style="text-align: center; width: 100%;">
			<tr>
				<th style="text-align: left;">项目</th>
				<th class="unit-price">单价</th>
				<th class="amount">数量</th>
				<th class="col-total">总价</th>
			</tr>
			<tr>
				<td style="text-align: left; padding-left: 10px;">10</td>
				<td>¥<span>12</span></td>
				<td>12份</td>
				<td><span class="fonttored">1000</span></td>
			</tr>
			<tr>
				<td></td>
				<td class="extra-fee total-fee rightpadding"
					style="text-align: right; padding-right: 45px;" colspan="3"><strong>总金额</strong>
					： <span class="inline-block money"> <strong
						class="fonttored">¥${totalPrice}</strong>
				</span></td>
			</tr>
		</table>
	</div>
</div>
 -->


<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 column"  style="margin-left: 100px; margin-top: 50px">
			<table class="table">
				<thead>
					<tr>
						<th>编号</th>
						<th>产品</th>
						<th>交付时间</th>
						<th>状态</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>TB - Monthly</td>
						<td>01/04/2012</td>
						<td>Default</td>
					</tr>
					<tr class="success">
						<td>1</td>
						<td>TB - Monthly</td>
						<td>01/04/2012</td>
						<td>Approved</td>
					</tr>
					<tr class="error">
						<td>2</td>
						<td>TB - Monthly</td>
						<td>02/04/2012</td>
						<td>Declined</td>
					</tr>
					<tr class="warning">
						<td>3</td>
						<td>TB - Monthly</td>
						<td>03/04/2012</td>
						<td>Pending</td>
					</tr>
					<tr class="info">
						<td>4</td>
						<td>TB - Monthly</td>
						<td>04/04/2012</td>
						<td>Call in to confirm</td>
					</tr>
					<tr>
						<td></td>
						<td class="extra-fee total-fee rightpadding"
							style="text-align: right; padding-right: 45px;" colspan="3"><strong>总金额</strong>
							： <span class="inline-block money"> <strong
								class="fonttored">¥${totalPrice}</strong>
						</span></td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>