<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.res.sys.dao.HxdUserDao">
	<insert id="insertObject" useGeneratedKeys="true"
		keyProperty="userId">
		insert into user
		(user_login_name,user_nick_name,user_true_name,user_password,user_address,
		user_create_time,createdTime,modifiedTime,createdUser,modifiedUser,salt)
		values
		(#{userLoginName},#{userNickName},#{userTrueName},#{userPassword},#{userAddress},
		#{userCreateTime},#{createdTime},#{modifiedTime},#{createdUser},#{modifiedUser},#{salt})
	</insert>

	<select id="findOnebyLoginName" resultType="com.cy.res.sys.entity.HxdUser">
		select * from user where user_login_name =
		(#{userLoginName})
	</select>

	<select id="findOne" resultType="com.cy.res.sys.entity.HxdUser"> 
		select salt,user_id from user where user_login_name = #{username}
	</select>
	<select id="findOneBySaltPassword" resultType="com.cy.res.sys.entity.HxdUser">
		select * from user where user_id = #{userId} and user_password = #{SaltPassword}
	</select>
 

</mapper>